<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kurslista</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <div class="container" id="course-list-container">
        <main>
    <h1>Kurslista</h1>   
    <p id="add-course-link"> <a href="addcourse">Lägg till ny kurs</a></p> 
    <p id="add-course-link"> <a href="about">Om uppgiften</a></p>   

    

    <table class="course-list">
        <tr>
            <th>Kurskod</th>
            <th>Kursnamn</th>
            <th>Kursplan</th>
            <th>Kursprog.</th>
        </tr>  <% if(error !== "" ) { %>
            <p class="error">
                <%= error %>
            </p>
        <%}%>
       
        <% if(locals.rows !== "") { %>

        <% locals.rows.forEach((row) => { %>
            <tr rowspan="2">
                <td> <%= row.coursecode %></td>
                <td><%= row.coursename %><br><a href="/edit/<%= row.id %>">Ändra</a></td>
                <td><%= row.syllabus %><br><a href="delete/<%= row.id %>">Radera kurs</a></td>
                <td><%= row.progression %></td>                    
               
            </tr>   
            <% }); %>  
            <% } %>      

</table>
<p id="add-course-link"> <a href="/">Till startsidan</a></p> 

              
                
</main>
</div>
</body>
</html>